<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
</head>
<body>
	<div
		th:if="${#request.isUserInRole('USER') or #request.isUserInRole('ADMIN')}">
		<h2
			th:text="${'You are already logged in, ' + #request.userPrincipal.name}"></h2>
	</div>
	<div
		th:unless="${#request.isUserInRole('USER') or #request.isUserInRole('ADMIN')}">
		<h2>Login, guest</h2>
	</div>

	<form action="/login" method="post">
		<label for="username">Username:</label> <input type="text"
			id="username" name="username" required> <label for="password">Password:</label>
		<input type="password" id="password" name="password" required>
		<button type="submit">Login</button>
	</form>



</body>
</html>
